.hero-image {
    background-image: url("hero image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.hero-text {
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
    background-color: #323232; /* Makes text easier to read */
    border-radius: 50px;
}